# Ambiente virtual
venv/
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de log
*.log

# Configurações locais
instance/
*.sqlite3

# Arquivos de IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db
