# Normaliza quebras de linha
* text=auto

# Força LF para arquivos Python
*.py text eol=lf

# Força LF para arquivos de configuração
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.env.example text eol=lf

# Arquivos binários
*.db binary
*.pyc binary
